<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ImageEditor.ImageEditor" android:versionName="1.2" android:installLocation="auto" android:versionCode="3">
	<uses-sdk android:minSdkVersion="16" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<application android:label="ToolBox" android:icon="@drawable/Icon" android:hardwareAccelerated="false" android:largeHeap="true" android:theme="@style/MyTheme"></application>
</manifest>